{% extends 'base.html.twig' %}

{% block body %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="jumbotron-overlay-text text-center">
                        <h1 class="jumbotron-text">Jonathan</h1>
                        <h1 class="jumbotron-text" style="padding-left: 200px">Eastman</h1>
                        <p class="jumbotron-text">Full stack PHP Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Skills</h2>
                <p>The following are all frameworks, projects, libraries, systems, technologies, etc. that I have successfully used in projects.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="technology-logo-box">

                </div>
            </div>
            <div class="col-xs-6 col-sm-3">

            </div>
            <div class="col-xs-6 col-sm-3">

            </div>
            <div class="col-xs-6 col-sm-3">

            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
    </div> <!-- /container -->

{% endblock %}